<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpotInsight</title>
  </head>
  <body>
    <header>
      <h1>SpotInsight</h1>
    </header>
    <section>
      <h3>Click the link below to log in and explore your music!</h3>
      <a href="/login" class="link">Login to Spotify</a>
    </section>
  </body>
</html>
