<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Playlists</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Your Playlists</h1>
    </header>
    <section class="container">
      {% if playlists %}
      <table>
        <tr>
          {% for playlist in playlists %}
          <td>
            <a
              href="{{ url_for('playlist_songs', playlist_id=playlist.id, playlist_name=playlist.name, playlist_link=playlist.link) }}"
              class="playlist"
            >
              <img src="{{ playlist.image_url }}" alt="{{ playlist.name }}" />
              <p class="playlist-name">
                {% if playlist.name %}{{ playlist.name }}{% else %}<em
                  >No playlist name.</em
                >{% endif %}
              </p>
            </a>
          </td>
          {% if loop.index % 5 == 0 %}
        </tr>
        <tr>
          {% endif %} {% endfor %}
        </tr>
      </table>
      {% else %}
      <p>No playlists available.</p>
      {% endif %}
    </section>
  </body>
</html>
